<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bases</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h2> Bases I've Been Stationed At </h2>
    <ol>
        <li><a href="https://en.wikipedia.org/wiki/Eglin_Air_Force_Base">Eglin AFB, Florida</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Aviano_Air_Base">Aviano AB, Italy</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Lackland_Air_Force_Base">Lackland AFB, Texas</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Randolph_Air_Force_Base">Randolph AFB, Texas</a></li>
        <li>NSA-Texas</li>
      </ol>
    

    {% endblock %}
  </body>
</html>