<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h2> My Air Force Career </h2>
    <h3> Brief Introduction </h3>
    <p> I spent nine years in the Air Force, working in multiple career fields at five seperate bases/sites. I spent the majority of my career
      working in military law enforcement and even got the chance to live in Europe for three years. </p>
    <h4>Positions held</h4>
    <ul>
      <li>Patrolman</li>
      <li>Investigator</li>
      <li>Nuclear Convoy Leader</li>
      <li>IT Asset Manager</li>
      <li>Cyber Assignment Manager</li>
      <li>Programmer</li>
    </ul>
    <h4>Bases/Sites</h4>
    <ol>
      <li>Eglin AFB, Florida</li>
      <li>Aviano AB, Italy</li>
      <li>Lackland AFB, Texas</li>
      <li>Randolph AFB, Texas</li>
      <li>NSA-Texas</li>
    </ol>

    {% endblock %}
  </body>
</html>