<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h2> Jobs </h2>
    <p> Below are just a few of the jobs I've held and brief description of each.</p>
    <h3> Patrolman </h3>
    <p>Worked as a cerfified police officer for three years in Florida and Italy.</p>
    <h3> Investigator </h3>
    <p>Criminal investigator focusing on violent crimes and narcotics in joint operations with Italian Carabinieri.</p>
    <h3>Nuclear Convoy Leader</h3>
    <p>Spent 6 months focusing on deploying convoy operations to support U.S. nuclear operations.</p>
    <h3>IT Asset Manager</h3>
    <p>After transitioning to cyber work, worked as an asset manager.</p>
    <h3>Cyber Assignments manager</h3>
    <p>spent 18 months managing the Air Forces cyber assignments career fields equally 18,000 managed Airmen.</p>
    <h3>Programmer</h3>
    <p>Web and Database developer for NSA-Texas.</p>

    {% endblock %}
  </body>
</html>